<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Flight Management System</title>
</head>

<body>
	<nav class="navbar navbar-inverse">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Flight Management System</a>
	    </div>
	  </div>
	</nav> <!-- Brand Navbar end -->


	<!-- Flash Messages for Customer Feedback -->
	<div class="container">
	{% with messages = get_flashed_messages() %}
	  	{% if messages %}
	    		<br />
			{% for message in messages %}
				<p class="flashes"><strong>{{ message }}</strong></p>
			{% endfor %}
	    		
	   	{% endif %}
	{% endwith %}		
		
	</div>


	<div class="container">
		{% if available_seats %}
			<h2>Available Seats for Flight Number: {{ flight_detail.flight_number }} </h2>
			<h4> {{ available_seats }} </h4>
			<a href=" {{ url_for('booking_information.book_ticket', flight_no = flight_detail.flight_number) }} "><button class="btn btn-primary" >Book a ticket</button></a>

		{% elif not flight_detail and not available_seats %}

			<h3>No such flight exists</h3>

		{% else %}
			<h3>Flight Number: {{ flight_detail.flight_number }}</h3>
			<h5>Source: {{ flight_detail.source }}</h5>
			<h5>Destination:  {{ flight_detail.destination }}</h5>
			<h5>Flight Date: {{ flight_detail.flight_date }}</h5>
			<h5>Departure Time:  {{ flight_detail.departure_time }}</h5>
			<h5>Destination Arrival Time {{ flight_detail.destination_arrival_time }}</h5>
			<h5>Total Seats: {{ flight_detail.total_seats }}</h5>
			<h5>Available Seats for booking: {{ flight_detail.total_seats - flight_detail.booked_seats }}</h5>
			{% if current_user %}
				<form action="/delete_flight/{{ flight_detail.flight_number }} " method="DELETE">
					<button type="submit" class="btn btn-primary">Delete Flight</button>
				</form>
				<br />

				<a href="#" data-toggle="modal" data-target="#update_flight"><button class="btn btn-primary">Update Flight Information</button></a>	

				<br />	
			{% endif %}

		{% endif %}
	</div>

	<br />
	<div class="container">
		<a href=" {{ url_for('flight_information.flights') }} "><button class="btn btn-primary">Back to All Flights</button></a>

	</div>
	

      <!-- Modal for updating flight information -->
        <div class="modal fade" id="update_flight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Update Flight Information</h4>
              </div>
              <div class="modal-body text-left">
                  
                  <!-- Form -->
                  <form action="/update_flight/{{ flight_detail.flight_number }} " method="POST">
                    <div class="form-group">
                      <label for="flight_number">Flight Number</label>
                      <input type="text" class="form-control" name="flight_number" id="flight_number" value=" {{ flight_detail.flight_number }} " placeholder="Flight Number" disabled="disabled">
                    </div>  
                      
                    <div class="form-group">
                      <label for="source">Source</label>
                      <input type="text" class="form-control" name="source" id="source" value=" {{ flight_detail.source }} " placeholder="Source" disabled="disabled">
                    </div>

                    <div class="form-group">
                      <label for="destination">Destination</label>
                      <input type="text" class="form-control" name="destination" id="destination" value=" {{ flight_detail.destination }} " placeholder="Destination" disabled="disabled">
                    </div> 
                    
                    <div class="form-group">
                      <label for="updated_flight_date">Flight Date (YYYY-MM-DD)</label>
                      <input type="date" class="form-control" name="updated_flight_date" id="updated_flight_date" value=" {{ flight_detail.flight_date }} " required>
                    </div>       

                    <div class="form-group">
                      <label for="updated_departure">Departure Time (HH:MM)</label>
                      <input type="time" class="form-control" name="updated_departure" id="updated_departure" value=" {{ flight_detail.departure_time }} " required>
                    </div> 

                    <div class="form-group">
                      <label for="updated_arrival">Destination Arrival Time (HH:MM)</label>
                      <input type="time" class="form-control" name="updated_arrival" id="updated_arrival" value=" {{ flight_detail.destination_arrival_time }} " required>
                    </div> 

                    <p><b>Current Total Seats: {{ flight_detail.total_seats }} </b> &emsp;| &emsp; <b>Booked Seats: {{ flight_detail.booked_seats }} </b> </p>
                    <div class="form-group">
                      <label for="updated_total_seats">Total Seats (Number)</label>
                      <input type="number" class="form-control" name="updated_total_seats" id="updated_total_seats" placeholder="Total Seats on flight" required>
                    </div> 
                                                                         
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


</body>

</html>